@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

#root {
  display: block;
  position: relative;
  z-index: 1;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1em;
  color: #152242ff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input {
  outline: none;
}

select,
button {
  font-family: inherit;
  font-size: inherit;
}

button {
  background: none;
  padding: 0;
  cursor: pointer;
}
